/* FAQ.css */
.faq {
  background-color: #f5f7fa; /* Color de fondo consistente */
  padding: 40px 20px;
  font-family: "Montserrat", sans-serif;
}

.faq-title {
  color: rgba(45, 60, 80);
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
}

.faq-item {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: relative; /* Asegura que los elementos internos puedan posicionarse en relación con el contenedor */
}

.faq-item:hover {
  background-color: #eebb73;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.faq-question {
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(45, 60, 80);
}

.faq-toggle {
  font-size: 20px;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 15px;
  font-style: italic; /* Estilo de fuente en cursiva */
  font-family: "Montserrat", sans-serif; /* Fuente Montserrat */
  font-size: large; /* Tamaño de fuente grande */
  margin-bottom: 20px; /* Margen inferior más grande */
}

.faq-answer.open {
  max-height: 200px; /* Ajusta según el contenido */
}

/* Cambia el color del enlace cuando se pasa el ratón sobre el contenedor .faq-item */
.faq-item:hover .link-consulta {
  color: #ffffff; /* Color del texto del enlace cuando se pasa el ratón sobre la tarjeta */
}

/* Estilo del botón como enlace */
.link-consulta {
  background: none; /* Sin fondo */
  border: none; /* Sin borde */
  color: #eebb73; /* Color del texto del enlace */
  text-decoration: underline; /* Subrayado */
  cursor: pointer; /* Cursor tipo mano */
  font: inherit; /* Hereda el estilo de fuente del contenedor */
  padding: 0; /* Sin padding */
  margin: 0; /* Sin margen */
  transition: color 0.3s ease; /* Transición suave para el color */
}

/* Responsivo para pantallas más pequeñas */
@media (max-width: 768px) {
  .faq-title {
    font-size: 2em;
  }

  .faq-question {
    font-size: 1.2em;
  }

  .faq-answer {
    padding: 0 10px;
    margin-bottom: 15px; /* Ajuste del margen inferior para pantallas pequeñas */
  }

  .faq-toggle {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .faq-title {
    font-size: 1.5em;
  }

  .faq-question {
    font-size: 1em;
  }

  .faq-answer {
    padding: 0 5px;
    margin-bottom: 10px; /* Ajuste del margen inferior para pantallas muy pequeñas */
  }

  .faq-toggle {
    font-size: 16px;
  }
}
